# --- COGNIVEXAAI PRODUCTION ENVIRONMENT ---

# APP
NODE_ENV=production
PORT=7000
CORS_ORIGIN=https://cognivexa.ai

# MONGODB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/cognivexa-prod?retryWrites=true&w=majority

# REDIS
REDIS_ENABLED=true
REDIS_HOST=redis-10440.crce300.ap-south-1-2.ec2.cloud.redislabs.com
REDIS_PORT=10440
REDIS_PASSWORD=6JlNV7HSWiJehA0VDEkwCPz6sxA23vz4

# AUTH
JWT_ACCESS_SECRET=963f32c77a31756e51ebcd62f61a0e019f77e19f2c7768602b2e0a499d63bbd8797fc667ef9c0daaa177b28626e4caa77ca85f854850ae67c4bbbc597a00e4c1
JWT_REFRESH_SECRET=bc84a56d3a92df9d1e8fd2c02571148f3ba9e4b925362b0adbb19a76f193c7da1cd861143cd15fe276b045de05bc25c0bceb0da102b0f66e32d6132f2327a964
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# ENCRYPTION
ENCRYPTION_KEY=95ec68b6f9dbd9348819bfb54badd8602432ad4b261c15eb000d319182919ba9

# STRIPE
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

# RAZORPAY
RAZORPAY_KEY_ID=rzp_live_...
RAZORPAY_KEY_SECRET=your-razorpay-secret

# STORAGE
CLOUDINARY_CLOUD_NAME=cognivexa
CLOUDINARY_API_KEY=393961587617215
CLOUDINARY_API_SECRET=r7XopMntPJdnjE1UcskwdPnp7Fo

# MONITORING
SENTRY_DSN=https://32df6141ab66b40aab31ac464a07289f@o4511353459834880.ingest.us.sentry.io/4511353462128640
LOGTAIL_TOKEN=p1HdEMHUSjJHEQC5jhR11f23

# EMAIL
RESEND_API_KEY=re_GomdxhHM_P2vXDw3pP51oT3EVatQeHZ3c
EMAIL_FROM=onboarding@cognivexa.ai
